body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  width: 100%;
}

/*Fonts*/
h1, h2, h3, h4, h5 {
  margin: 0;
}

h2, h4, h5 {
  color: #33373A;
}

h1 {
  display: inline-block;
  text-indent: -9999px;
}

h2 {
  margin: 15px
}

h3 {
  font-size: 30px;
  font-weight: 300;
}

h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h5 {
  font-weight: 300;
  margin-top: 10px;
}

p {
  font-size: 12px;
  font-weight: 300;
  margin: 0;
}

a {
  color: #FFFDF7;
  font-weight: 300;
  margin: 0 0 10px 0;
  text-decoration: none;
  vertical-align: 8px;
}

.selected {
  font-weight: 400;
}

.icon {
  display: inline-block;
  height: 22px;
  margin: 0 10px;
  width: 20px;
}

/*Header*/
header{
  background-color: #33373A;
}

.header-top {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

.admin-login {
  display: inline-block;
  float: right;
  opacity: 0.8;
}

.admin-login:hover {
  opacity: 1;
}

.header-bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

nav {
  display: flex;
  align-content: space-around;
}

.nav {
margin-right: 25px;
opacity: 0.5;
}

.nav:hover {
  opacity: 1;
}

.shares {
  opacity: 1;
}

.nav-icon {
  display: inline-block;
  width: 30px;
}

.logo {
  float: right;
  margin: 0 15px 10px 0;
  width: 300px;
}

#recipe-box {
  background-color: #FFFDF7;
  height: 85vh;
  padding: 5px;
}

.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start space-around;
}

.recipe-card {
  background-color: #FFFFFF;
  box-shadow: 0 0 10px #D0D0D0;
  margin: 10px;
  width: 23%;
}
.recipe-card:hover .recipe-image {
  background: url('images/recipe-image.jpg') no-repeat 0 0;
  background-size: cover;
}

.recipe-card:hover .see-recipe {
  height: 45px;
  width: 45px;
}

.recipe-image {
  background: linear-gradient(
      rgba(139, 119, 101, 0.6),
      rgba(139, 119, 101, 0.6)
    ), url('images/recipe-image.jpg') no-repeat 0 0;
  background-size: cover;
  height: 150px;
  margin: 0;
  width: 100%;
}

.image-contents {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.see-recipe {
  height: 40px;
  width: 40px;
}

.view-count {
  color: #FFFDF7;
}

.views {
  margin: 0;
}

.recipe-overview {
  padding: 10px;
}

.recipe-description {
  background-color: #FFF9E5;
  height: 45px;
  margin: 20px 0;
  overflow: hidden;
  overflow-y: scroll;
  text-overflow: ellipsis;
  width: 100%;
}

.recipe-description p {
  padding: 5px;
}

h4.type {
  font-weight: 300;
}

h3.ingredients-number {
  color: #CB9D48;
}




@media screen and (max-width: 1010px) {
  .recipe-card {
    width: 30%;
  }
}



@media screen and (max-width: 900px) {
  .admin-login a,
  .admin-menu-icon {
    display: none;
  }

  .admin-icon {
    height: 40px;
    margin: 10px;
    width: 40px;
  }

  nav {
    margin: 40px;
    display: flex;
    justify-content: space-between;
    width: 60%;
  }

  .nav {
    height: 40px;
    margin-right: 0;
  }

  .header-bottom {
    flex-direction: column-reverse;
  }

  .logo {
    margin: 0;
  }
}

@media screen and (max-width: 810px) {
  nav {
    width: 80%;
  }
}


@media screen and (max-width: 790px) {
  .recipe-card {
    width: 45%;
  }

  .recipe-description p {
    padding: 5px 15px;
  }
}

@media screen and (max-width: 620px) {
  .nav-icon {
    height: 40px;
    width: 40px;

  }

  .nav a {
    display: none;
  }

  h2 {
    text-align: center;
  }

  .card-holder {
    justify-content: center;
  }

  .recipe-card {
    width: 300px;
  }
}

@media screen and (max-width: 420px) {
  .logo {
    width: 250px;
  }
}
