body {}

header{}

h1, h2, h3, h4 {}

p {}

a {
  text-decoration: none;
}

a:hover {}

a:selected {
}

h1{
  display: block;
  text-indent: -9999px;
}

.admin-login{}

.shares,
.menus,
.my-recipes {}

#recipe-box {}

h2 {}

.card-holder {}

.recipe-card {}

.recipe-image {}

.see-recipe {}

.view-count {}

h3 {}

h4 {}

.recipe-author {}

.recipe-description {}

h5 {}

h3.ingredients-number {}




/*Break for tablets*/
@media screen and (width: 900px;) {

}




/*Break for phones*/
@media screen and (width: 600px;) {

}
